version: "3.8"

services:
  mysql-db:
    image: mysql
    container_name: mysql-db
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: todo
    ports:
      - "3308:3306"
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h localhost -uroot -proot || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 20s

  backend:
    build: .
    container_name: backend
    restart: unless-stopped
    environment:
      DB_HOST: mysql-db
      DB_USER: root
      DB_PASSWORD: root
      DB_NAME: todo
      DB_PORT: 3306
    depends_on:
      mysql-db:
        condition: service_healthy
    command: sh -c "sleep 30 && npm start"
    ports:
      - "4000:3000"